body {
    font-family: KTEGAKI;
    font-size: 30pt;
    background-color: #f9f4ea;
    text-align: center;
    padding: 20%;
    padding-top: 10%;
}

p {
    font-family: "KTEGAKI";
    margin-left: 35px;
}


@font-face {
    font-family: KTEGAKI;
    src: url(KTEGAKI.ttf);
}
